@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

html {
  min-width: 360px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-zain), sans-serif;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;

}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply text-neutral-900 underline transition-all decoration-neutral-900 underline-offset-2 decoration-[0.1em];
}

.prose strong {
  @apply font-bold text-neutral-900;
}

.prose .anchor:after {
  @apply text-neutral-300;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 rounded-lg overflow-x-auto border border-neutral-200 py-2 px-3 text-sm leading-[1.75];
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.75;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-600 leading-[1.75];
}

.prose h1 {
  @apply text-4xl font-bold mt-6 mb-6;
  font-family: var(--font-zain), sans-serif;
}

.prose h2 {
  @apply text-xl font-bold mt-6 mb-6;
  font-family: var(--font-zain), sans-serif;
}

.prose h3 {
  @apply text-xl font-bold mt-6 mb-6;
  font-family: var(--font-zain), sans-serif;
}

.prose h4 {
  @apply text-lg font-bold mt-6 mb-6;
  font-family: var(--font-zain), sans-serif;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose> :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}